<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" routerLink="/vendeur-demande-conso">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      حصيلة الطلبيات السابقة
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgInterface2">
  <ion-grid class="ion-no-padding">
    <div class="cssHeight">
      <ion-row *ngFor="let d of data" routerLink="/vendeur-demandedetail">
        <ion-col class="ion-no-padding">
          <div [style.background]="d.codecommande? '#00A651' : '#DC4E41'" class="cssCard">
            <!-- <div class="cssCard"> -->
            <div>
              <span class="cssDate">{{d.datecommande}}</span>
            </div>
            <div class="cssNum" *ngIf="d.codecommande">
              <span class="cssLibel Tajawal-Medium">رقم الطلبية :</span>
              <span class="cssValue">{{d.codecommande}}</span>
            </div>
            <div class="cssMsgRefuse" *ngIf="!d.codecommande">
              <span class="cssLibel Tajawal-Medium">قد تم رفض الطلبية</span>
            </div>
            <!-- </div> -->
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>