.cssContainer{
    width: 96%;
    --margin: 0px auto !important;
}

.bgheader ion-title{
    padding-left: 0px;
}
// --- slider
// .cssSlider{
//     width: 95%;
//     height: 150px;
//     margin: 0px auto;
//     border-radius: 10px;
// }
.cssSlider ion-slides{
    // width: 100%;
    width: 94%;
    height: 150px;
    margin: 0px auto;
    margin-top: 12px;
    border-radius: 10px;
}
.cssSlider ion-slide{
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
// --- time down
.cssClock{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cssClock .cssLibel{
    font-size: 12px;
    text-align: center;
    color: #555;
}
.cssClock .cssValue{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #DC4E41;
}
// --- big categorie
.cssBigCard{
    width: 100% !important;
    margin: 0px auto;
    margin-top: 6px;
    margin-bottom: 0px;
    cursor: pointer;
}
.cssIcon1{
    font-size: 24px;
}
// .cssBigCard .cssHeaderCard{
//     padding: 10px 0px;
//     background-color: #FF2442 !important;
//     text-align: center;
//     height: 36px !important;
// }
// .cssBigCard .cssTitleCrd{
//     margin-top: 10px !important;
//     color: #fff !important;
//     font-size: 24px !important;
// }

// ----- small categories
.cssCard{
    width: 98% !important;
    height: 200px !important;
    margin: 0px auto;
    margin-top: 6px;
    margin-bottom: 0px;
    cursor: pointer;
}

.cssOffre{
    width: 100%;
    height: 100px;
    display: block;
    margin: 0px auto;
    background-image: url('./../../../assets/images/category/offre.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 6px; 
}
.cssContentOffre{
    width: 60%;
    position: fixed;
    left: 0px;
}
.cssContentOffre .cssTitle{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    color: #e12c13;
}
// .cssCard .cssImg{
//     width: 100%;
//     height: 140px;
//     display: block;
//     margin: 6px auto;
//     background-position: center; 
//     background-repeat: no-repeat; 
//     background-size: contain; 
// }

// .cssCard .cssHeaderCard{
//     // height: 20%; width: 100%;
//     padding: 6px 0px;
//     background-color: #F55C47 !important;
//     text-align: center;
// }
// .cssCard .cssTitleCrd{
//     margin-top: 4px;
//     font-size: 18px !important;
//     color: #fff !important;
//     height: 36px;
// }

// menu
.cssMenu .cssIconMenu{
    margin-left: 16px;
}
.cssMenu .cssIconMenu fa-icon{
    font-size: 24px;
    color: #555;
}
.cssMenu .cssItemMenu{
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.cssVersion{
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-right: 70px;
}
.cssVersion img{
    width: 140px;
    height: auto;
}
.cssVersion .cssV{
    font-size: 14px;
    font-weight: 600;
    color: #FF2442;
}

// ---
.bgColorProfi{ 
    background-color: #FF2442;
}
.bgColorProfi .profil{
    display: flex;
    align-items: center;
    height: 160px;
    // background: url('./../../../assets/images/menuImgBg.png') no-repeat;
    // background-size: contain;
    // background-position: top right;
    padding: 10px 20px 15px 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bgColorProfi .profil ion-avatar{
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
.bgColorProfi .profil img{
    width: 100%;
    height: 100%;
} 
  
.bgColorProfi .detail{
    margin: 0px 6px;
    color: #fff;
}
.bgColorProfi .detail div{
    margin-bottom: 8px;
    font-size: 18px; 
}
.bgColorProfi .profil h4{
    margin: 0px;
    font-size: 16px;
    color: rgb(255, 200, 200);
}

// .my-custom-menu {
//     --width: 500px;
// }
@media only screen and (max-width: 362px) {
    // --- slider
    .cssSlider ion-slides{
        height: 150px;
    }
    .cssSlider ion-slide{
        width: 96%;
    }
    // --- time down
    .cssClock .cssValue{
        font-size: 24px;
    }
    // --- big categorie
    .cssBigCard{
        border-radius: 4px !important;
    }
    .cssIcon1{
        font-size: 17px;
    }
    .cssBigCard .cssHeaderCard{
        padding: 7px 0px;
    }
    .cssBigCard .cssTitleCrd{
        height: 32px;
        font-size: 13px;
        font-weight: 500;
    }

    // --- small categories
    .cssCard{
        height: 160px !important;
        --border-radius: 4px;
    }
    .cssCard .cssImg{
        height: 110px;
    }
    .cssCard .cssHeaderCard{
        padding: 4px 0px;
    }
    .cssCard .cssTitleCrd{
        font-size: 15px !important; 
        height: 30px;
    }
    // --- Menu
    .cssMenu .cssIconMenu fa-icon{
        font-size: 17px;
    }
    .cssMenu .cssItemMenu{
        font-size: 15px;
    }

    .cssVersion{
        margin-right: 70px;
    }
    .cssVersion img{
        width: 100px;
        height: auto;
    }
    .cssVersion .cssV{
        font-size: 13px;
    }

    .bgColorProfi .profil ion-avatar{
        width: 80px;
        height: 80px;
    }
    .bgColorProfi .profil{
        height: 130px;
    }
    .bgColorProfi .detail div{
        font-size: 15px; 
    }
    .bgColorProfi .profil h4{
        font-size: 14px;
    }
}
