<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" [routerLink]="role==='V'?'/vendeur-home':'/responsable-home'">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      منتوجاتي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgInterface2">
  <ion-grid class="ion-no-padding">

    <div class="cssHeight">
      <ion-row *ngFor="let d of data;  index as i">
      <!-- <ion-row> -->
        <ion-col class="ion-no-padding">
          <div class="cssProduct">
            <div class="cssImg">
              <img [src]="url+'/images/image_'+d.code+'.png'" alt="image">
              <!-- <img src="./../../../assets/images/product/prod2.jpg" alt="@youb"> -->
            </div>
            <div class="cssInfos">
              <div class="cssName tajawal-Medium">{{d.nom}}</div>
              <!-- <div class="cssName tajawal-Medium">شاي لوبان الأخضر</div> -->
              <div class="cssPrixT">
                <div class="cssPrix">
                  <!-- <span>117,30</span> درهم -->
                  <span>{{d.prixfinal}}</span> درهم
                </div>
                <div class="cssPrix">
                  <!-- <span>24</span> نقطة -->
                  <span>{{d.point}}</span> نقطة
                </div>

                <div class="btnToggle">
                  <p style="font-size: 0.8rem;">{{d.appear==1? 'ظاهر للعملاء' : 'غير ظاهر للعملاء'}}</p>
                  <ion-toggle [checked]="d.toggel" (ionChange)="toggelappear(d)"></ion-toggle>
                </div>
              </div>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>