<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" routerLink="/vendeur-home">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      حصيلة المبيعات
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="today" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()" class="cssSegment">
      <ion-segment-button value="today" class="segmentBtn1">
        اليوم
      </ion-segment-button>
      <ion-segment-button value="yesterday" class="segmentBtn2">
         البارحة
      </ion-segment-button>
      <ion-segment-button value="monthsbefore" class="segmentBtn3">
        الكل 
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content class="bgInterface2 cssPosition">

  <!-- section one -->
  <div class="cssSection" *ngIf="selectedSegment == 'today'">
    <div class="cssHeight">
      <ion-grid class="ion-no-padding">

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSectionTtile tajawal-Bold">
              مبيعات اليوم
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let d of dataDay" style="margin: 6px 0px;">
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssVenteDay">
              <div class="cssinfos">
                <div class="cssName tajawal-Boldd">{{d.nom}}</div>
                <div class="cssSerial">{{d.codecommande}}</div>
              </div>
              <div class="cssCount">
                <div class="cssValue"><span>{{d.quantite}}</span><span class="tajawal-Medium">وحدة</span></div>
                <div class="cssValue"><span>{{d.point * d.quantite}}</span><span class="tajawal-Medium">نقطة</span></div>
                <div class="cssValue"><span>{{(d.prixfinal * d.quantite).toFixed(2)}}</span><span class="tajawal-Medium">درهم</span></div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssTotalDay" style="margin-bottom: 12px;">
              <div class="cssTitleCard tajawal-Boldd">مجموع اليوم</div>

              <div class="cssCard">
                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد المنتوجات :</span>
                    <span class="cssValue">{{dataDay.length}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد الفاتورات :</span>
                    <span class="cssValue">{{orders}}</span>
                  </div>
                </div>

                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">النقط :</span>
                    <span class="cssValue">{{pointtotal}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">المبلغ :</span>
                    <span class="cssValue">{{prixtotal}}</span>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSommeMounth" style="margin-top: 12px; margin-bottom: 12px;">

              <div class="cssTitleCard tajawal-Boldd">الهدف</div>

              <div>
                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">النقط</div>
                  <div class="cssBar">
                    <span class="cssEnd">60</span>
                    <span class="cssStart">{{pointtotal}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': (pointtotal/60)*100}" 
                        aria-valuemin="0" aria-valuemax="100">{{((pointtotal/60)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>

                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">الفاتورات</div>
                  <div class="cssBar">
                    <span class="cssEnd">20</span>
                    <span class="cssStart">{{orders}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': (orders/20)*100}" 
                        aria-valuemin="0" aria-valuemax="100">{{((orders/20)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

  <!-- section two -->
  <div class="cssSection2" *ngIf="selectedSegment == 'yesterday'">
    <div class="cssHeight">
      <ion-grid class="ion-no-padding">

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSectionTtile tajawal-Bold">
              مبيعات البارحة
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let d of dataDay" style="margin: 6px 0px;">
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssVenteDay">
              <div class="cssinfos">
                <div class="cssName tajawal-Boldd">{{d.nom}}</div>
                <div class="cssSerial">{{d.codecommande}}</div>
              </div>
              <div class="cssCount">
                <div class="cssValue"><span>{{d.quantite}}</span><span class="tajawal-Medium">وحدة</span></div>
                <div class="cssValue"><span>{{d.point * d.quantite}}</span><span class="tajawal-Medium">نقطة</span></div>
                <div class="cssValue"><span>{{(d.prixfinal * d.quantite).toFixed(2)}}</span><span class="tajawal-Medium">درهم</span></div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssTotalDay" style="margin-bottom: 12px;">
              <div class="cssTitleCard tajawal-Boldd"> مجموع البارحة </div>

              <div class="cssCard">
                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد المنتوجات :</span>
                    <span class="cssValue">{{dataDay.length}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد الفاتورات :</span>
                    <span class="cssValue">{{orders}}</span>
                  </div>
                </div>

                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">النقط :</span>
                    <span class="cssValue">{{pointtotal}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">المبلغ :</span>
                    <span class="cssValue">{{prixtotal}}</span>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSommeMounth" style="margin-top: 12px; margin-bottom: 12px;">

              <div class="cssTitleCard tajawal-Boldd">الهدف</div>

              <div>
                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">النقط</div>
                  <div class="cssBar">
                    <span class="cssEnd">60</span>
                    <span class="cssStart">{{pointtotal}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': ((pointtotal/60)*100).toFixed(0)}" 
                        aria-valuemin="0" aria-valuemax="100">{{((pointtotal/60)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>

                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">الفاتورات</div>
                  <div class="cssBar">
                    <span class="cssEnd">20</span>
                    <span class="cssStart">{{orders}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': (orders/20)*100}" 
                        aria-valuemin="0" aria-valuemax="100">{{((orders/20)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

  <!-- section three -->
  <div class="cssSection3" *ngIf="selectedSegment == 'monthsbefore'">
    <div class="cssHeight">
      <ion-grid class="ion-no-padding">

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSectionTtile tajawal-Bold">
              المبيعات
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let d of dataDay" style="margin: 6px 0px;">
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssVenteDay">
              <div class="cssinfos">
                <div class="cssName tajawal-Boldd">{{d.nom}}</div>
                <div class="cssSerial">{{d.codecommande}}</div>
              </div>
              <div class="cssCount">
                <div class="cssValue"><span>{{d.quantite}}</span><span class="tajawal-Medium">وحدة</span></div>
                <div class="cssValue"><span>{{d.point * d.quantite}}</span><span class="tajawal-Medium">نقطة</span></div>
                <div class="cssValue"><span>{{(d.prixfinal * d.quantite).toFixed(2)}}</span><span class="tajawal-Medium">درهم</span></div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssTotalDay" style="margin-bottom: 12px;">
              <div class="cssTitleCard tajawal-Boldd">المجموع</div>

              <div class="cssCard">
                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد المنتوجات :</span>
                    <span class="cssValue">{{dataDay.length}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">عدد الفاتورات :</span>
                    <span class="cssValue">{{orders}}</span>
                  </div>
                </div>

                <div class="cssCol">
                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">النقط :</span>
                    <span class="cssValue">{{pointtotal}}</span>
                  </div>

                  <div class="cssRow">
                    <span class="cssLibel tajawal-Boldd">المبلغ :</span>
                    <span class="cssValue">{{prixtotal}}</span>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSommeMounth" style="margin-top: 12px; margin-bottom: 12px;">

              <div class="cssTitleCard tajawal-Boldd">الهدف</div>

              <div>
                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">النقط</div>
                  <div class="cssBar">
                    <span class="cssEnd">60</span>
                    <span class="cssStart">{{pointtotal}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': ((pointtotal/60)*100).toFixed(0)}" 
                        aria-valuemin="0" aria-valuemax="100">{{((pointtotal/60)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>

                <div class="cssRow">
                  <div class="cssLibel tajawal-Medium">الفاتورات</div>
                  <div class="cssBar">
                    <span class="cssEnd">20</span>
                    <span class="cssStart">{{orders}}</span>
                    <div class="progress">
                      <div class="progress-bar cssColorBar" role="progressbar" [ngStyle]="{'width.%': (orders/20)*100}" 
                        aria-valuemin="0" aria-valuemax="100">{{((orders/20)*100).toFixed(0)}}%</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>