<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" [routerLink]="['/products',{id}]">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      طلبياتي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgInterface2">
  <ion-grid class="ion-no-padding">

    <div class="cssHeight">
      <ion-row *ngFor="let d of data;  index as i">
        <ion-col class="ion-no-padding">
          <div class="cssProduct">
            <div class="cssImg">
              <img [src]="d.urls.split(',')[0]" alt="@youb">
            </div>
            <div class="cssInfos">
              <div class="cssName tajawal-Medium">{{d.nom}}</div>
              <div class="cssPrixT">
                <div class="cssPrix">
                  <span>{{d.prixfinal}}</span> درهم
                </div>
                <div class="cssPrix">
                  <span>{{d.point}}</span> نقطة
                </div>
              </div>
              <div class="cssPrixT">
                <div class="cssQuantity">
                  <div class="cssAddMinus" (click)="minusQty(i)">
                    <fa-icon icon="minus"></fa-icon>
                  </div>
                  <!-- <div class="cssQty" *ngIf="d.quantite > 0? d.quantite : 1"> -->
                  <div class="cssQty">
                    {{d.quantite}}
                    <!-- <span *ngIf="qte > 0? qte : 1">{{qte}}</span> -->
                  </div>
                  <div class="cssAddMinus" (click)="addQty(i)">
                    <fa-icon icon="plus"></fa-icon>
                  </div>
                </div>

                <div class="cssDelete" (click)="removeProductFromOrder(i)">
                  <div class="tajawal-Medium cssTrashBtn">
                    <fa-icon icon="trash-alt"></fa-icon>
                    حذف المنتج
                  </div>
                </div>
              </div>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <div class="cssS">
          <div class="cssSome tajawal-Boldd">المجموع</div>
          <div class="cssSomeValue">
            <div class="cssDhs">
              <p class="cssValue">{{(totalPrice).toFixed(2)}}</p>
              <p class="cssUnit">درهم</p>
            </div>
            <div class="cssDhs">
              <p class="cssValue">{{totalPoints}}</p>
              <p class="cssUnit">نقطة</p>
            </div>
            <div class="cssDhs">
              <p class="cssValue">2<span>درهم</span></p>
              <p class="cssUnit">لمستحقات التطبيق</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="tajawal-Boldd animate__animated animate__zoomIn animate__delay-1s" (click)="sendOrder()">
          طلب المنتوجات
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- alert error && success -->
  <div class="alerte" *ngIf="showSuccessAlerte">
    <div class="box2">
      <div class="successImg">
        <img src="../../../assets/images/successAlert1.gif" alt="@youb" draggable="false">
      </div>
      <div class="message">
        <p class="message_content tajawal-Medium">
          عملية إرسال الطلبية قد تمت بنجاح
        </p>
        <div class="message_btn">
          <button routerLink="/categories" class="tajawal-Medium">رجوع</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>