
.cssHeight{
    width: 100%;
    height: calc(100% - 240px) !important;
    // height:400px;
    position: fixed;
    top: 55px !important;
    overflow-y: scroll;
}
// row 1
.cssProduct{
    // height: 130px !important;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #F0344C;
    display: flex;
    align-items: flex-start;
}
.cssProduct .cssImg{
    width: 110px;
    height: 110px;
    margin-right: 16px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 12px !important;
}
.cssProduct .cssImg img{
    width: 100%;
    height: 100%;
}

.cssInfos {
    width: calc(100% - 130px) !important;
    margin-right: 20px;
    padding: 6px 0px;
    padding-left: 10px;
}
.cssInfos .cssName{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.cssInfos .cssPrixT{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.cssInfos .cssPrix{
    width: 45%;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}
.cssInfos .cssPrix span{
    font-size: 20px;
}

.cssQuantity{
    display: flex;
    justify-content: space-between;
    width: 45% !important;
    height: 30px !important;
    background: #ff4747 !important;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.cssQuantity .cssAddMinus{
    width: 30%;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 4px 0px 6px 0px;
    cursor: pointer;
}
.cssQuantity .cssQty{
    width: 40%;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #ff4747;
    background: #fff !important;
    border: 1px solid #ff4747;
}

.cssDelete{
    width: 45% !important;
    height: 30px !important;
}
.cssDelete .cssTrashBtn{
    width: 100%; height: 30px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 4px !important;
    color: #fff;
    background: #DC4E41 !important;
}
// row 2
.cssSomme{
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAE7E7;
    // box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: #964A4A;
    position: fixed;
    bottom: 80px;
    z-index: 100000;
}
.cssS{
    height: 100px;
    width: 100%;
    padding: 0px 10px;
    background-color: #EAE7E7;
    color: #964A4A;
    position: fixed;
    bottom: 80px;
    z-index: 100000;
}
.cssS .cssSome{
    text-align: center;
    font-size: 19px;
    padding: 3px;
    border-bottom: 1px solid #fff;
}
.cssS .cssSomeValue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cssS p{
    margin-top: 5px !important;
    margin-bottom: 3px !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.cssS .cssValue{
    font-size: 19px;
}
.cssS .cssValue span{
    font-size: 14px;
    margin-right: 5px;
}
// row 3
ion-button{
    width: 80% !important;
    height: 50px;
    margin: 5px auto !important;
    --color: #fff;
    font-size: 22px;
    --background: #DC4E41 !important;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10%;
    z-index: 100000;
}


@media only screen and (max-width: 362px) {
    // --- row 1
    .cssProduct{
        padding: 6px;
    }
    .cssProduct .cssImg{
        margin: 4px 0px;
        width: 90px;
        height: 90px;
        margin-right: 10px;
    }
    
    .cssInfos {
        width: calc(100% - 100px) !important;
        margin-right: 20px;
        padding-left: 4px;
    }
    .cssInfos .cssName{
        font-size: 15px;
    }
    .cssInfos .cssPrix{
        width: 48%;
        font-size: 12px;
    }
    .cssInfos .cssPrix span{
        font-size: 16px;
    }
  
    .cssQuantity .cssQty{
        font-size: 18px;
    }
    
    .cssDelete{
        width: 48% !important;
    }
    .cssDelete .cssTrashBtn{
        font-size: 14px;
        text-align: center;
    }
    .cssInfos .cssPrixT:last-child{
        margin-bottom: 0px;
    }
    // --- row 2
    // row 2
    .cssSomme{
        height: 60px;
        font-size: 16px;
    }

    // row 3
    ion-button{
        width: 80% !important;
        height: 40px;
        font-size: 16px;
        --border-radius: 4px;
        position: fixed;
        bottom: 8px;
        left: 10%;
    }

    // --- somme
    .cssHeight{
        width: 100%;
        height: calc(100% - 205px) !important;
    }
    .cssS{
        height: 80px;
        position: fixed;
        bottom: 65px;
        z-index: 100000;
    }
    .cssS .cssSome{
        font-size: 16px;
    }
    .cssS p{
        margin-top: 0px !important;
        font-size: 12px;
        font-weight: 600;
    }
    .cssS .cssValue{
        font-size: 16px;
        font-weight: 700;
    }
    .cssS .cssValue span{
        font-size: 12px;
        font-weight: 600;
    }
}