<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" routerLink="/vendeur-home">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      لائحة عملائي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgInterface2">
  <ion-grid class="ion-no-padding">
    <div class="cssHeight">
      <div class="cssSticky">

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssNbrTotal">
              <span class="cssLibel tajawal-Bold">العدد الإجمالي للعملاء :</span>
              <span class="cssValue">{{nbrConsomateurTotal}}</span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="cssContainer cssSelect">
              <ion-label class="cssLibel tajawal-Bold">اليوم :</ion-label>
              <ion-select (ionChange)="dayChanged()" [(ngModel)]="day" class="cssLibel tajawal-Boldd">
                <ion-select-option  *ngFor="let d of data" [value]="d.day" >
                  {{d.jour}}
                </ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8" class="ion-no-padding" style="margin-left: 10px !important;">
            <div class="cssContainer cssZone">
              <span class="cssLibel tajawal-Bold">المنطقة</span>
              <span class="cssValue tajawal-Boldd">{{quartier}}</span>
            </div>
          </ion-col>

          <ion-col class="ion-no-padding">
            <div class="cssContainer cssNbrConsomateur">
              <span class="cssLibel tajawal-Bold">عدد العملاء</span>
              <span class="cssValue">{{data2.length}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngFor="let d of data2">
        <ion-col class="ion-no-padding">
          <div class="cssContainer cssSmallCard">
            <div class="cssNom">
              <!-- <span class="cssLibel tajawal-Bold">الإسم :</span>
              <span class="cssLibel tajawal-Medium">{{d.nom}}</span> -->
              <div class="cssValue1">{{d.nomprenom}}</div>
              <div class="cssValue2">{{d.id}}</div>
            </div>
            <div class="cssdate">
              <div class="cssLibel tajawal-Boldd">تاريخ التسجيل</div>
              <div class="cssValue">{{d.dateinscription}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>
</ion-content>