<ion-content class="bgInterface1">
  <ion-grid>
    <div class="cssContainer">
      <ion-row>
        <ion-col class="animate__animated animate__zoomIn animate__delay-0s">
          <img src="../../../assets/images/logo/logo3.png" alt="@youb_logo" class="cssLogo" draggable="false">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="animate__animated animate__zoomInLeft animate__delay-1s">
          <div class="cssBtnContainer">
            <ion-button expand="block" class="tajawal-Bold cssBtn color1" routerLink="/login">حساب موجود</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="animate__animated animate__zoomInLeft animate__delay-2s">
          <div class="cssBtnContainer">
            <ion-button expand="block" class="tajawal-Bold cssBtn color1" routerLink="/logcity">حساب جديد
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>