<ion-content class="bgInterface1">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/images/logo/logo3.png" alt="@youb" class="cssLogo" draggable="false">
      </ion-col>
    </ion-row>

    <div class="cssContainer">
      <ion-card *ngFor="let d of data; let i = index"
        class="bgInterface2 ion-no-margin animate__animated animate__fadeInLeft animate__delay-{{i}}s">
        <ion-card-header>
          <ion-card-title class="tajawal-Bold color1 cssCardTitle">مدينة {{d.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="cssTiers">

            <div class="cssBtn cssBtn1"  [routerLink]="['/logregister', {role:'V', ville: d.name}]">
              <img src="../../../assets/images/register/vendeur1.png" alt="@ayoub">
              <h5 class="almarai-Regular">{{d.vendeur}} بائع</h5>
              <h3 class="almarai-bold">إنضم إلى البائعين</h3>
            </div>

            <div class="cssBtn" [routerLink]="['/logregister', {role:'C', ville: d.name}]">
              <img src="../../../assets/images/register/clients1.png" alt="@ayoub">
              <h5 class="almarai-Regular">{{d.consomateur}} عميل</h5>
              <h3 class="almarai-bold">إنضم إلى العملاء</h3>
            </div>

          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-grid>
</ion-content>