/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// add anime css
@import "~animate.css/animate.min.css";

// =============================== personal global design

// 1---- Palette de couleur
.bgInterface1{
    --ion-background-color: linear-gradient(#F0344C, #B41117) !important;
}
.bgInterface2{
    --ion-background-color: #FAFAFA !important;
}

.bgheader{
    --ion-background-color: #F0344C !important;
}

.color1{
    color: #BD171F !important;
}
.color2{
    color: #444 !important;
}

// 2---- Fonts

// -- a : almarai
@font-face {
    font-family: 'Almarai-ExtraBold';
    src: url('./assets/fonts/almarai/Almarai-ExtraBold.ttf');
}
.almarai-ExtraBold{
    font-family: Almarai-ExtraBold;
}

@font-face {
    font-family: 'Almarai-Bold';
    src: url('./assets/fonts/almarai/Almarai-Bold.ttf');
}
.almarai-bold{
    font-family: Almarai-Bold;
}

@font-face {
    font-family: 'Almarai-Regular';
    src: url('./assets/fonts/almarai/Almarai-Regular.ttf');
}
.almarai-Regular{
    font-family: Almarai-Regular;
}

// -- b : tajawal
@font-face {
    font-family: 'Tajawal-Bold';
    src: url('./assets/fonts/tajawal/Tajawal-ExtraBold.ttf');
}
.tajawal-Bold{
    font-family: Tajawal-Bold;
}

@font-face {
    font-family: 'Tajawal-Boldd';
    src: url('./assets/fonts/tajawal/Tajawal-Bold.ttf');
}
.tajawal-Boldd{
    font-family: Tajawal-Boldd;
}

@font-face {
    font-family: 'Tajawal-Medium';
    src: url('./assets/fonts/tajawal/Tajawal-Medium.ttf');
}
.tajawal-Medium{
    font-family: Tajawal-Medium;
}


// 3---- Quelques css global
.cssHeader{
    height: 55px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.cssHeader .cssTitleHead{
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.cssBtnHeader{
    position: absolute;
    right: 18px;
    cursor: pointer;
}
.cssBtnHeaderLeft{
    margin-top: 3px;
    position: absolute;
    left: 18px;
    cursor: pointer;
}
ion-icon{
    font-size: 26px;
}
ion-badge{
    width: 16px !important; 
    height: 16px !important;
    font-size: 10px !important;
    font-weight: 500;
    --background: #fff;
    color: brown;
    border-radius: 50%;
    position: relative;
    top: -8px; left: 4px;
    padding: 3px 0px !important;
}

.cssNumber{
    font-size: 20px;
}
@media only screen and (max-width: 360px) {
    .cssHeader .cssTitleHead{
        font-size: 17px;
    }
    ion-icon{
        font-size: 20px;
    }
}
// css of alert
.my-custom-class{
    --backdrop-opacity: 0.2;
    font-family: Tajawal-boldd;
    font-size: 10px;
    --width: 100%
}

/* ======== Alerte ======= */
.alerte{
    position: fixed; top: 0px; left: 0px;
    width: 100%; height: 100%;
    z-index: 1000000;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alerte .box2{
    width: 80%;
    // height: 50vh;
    margin: 0px auto;
    background-color: #fff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
  
.alerte .box2 .successImg img{
    width: 120px; height: auto;
}
  
.alerte .box2 .message{
    margin: 5px auto;
}
.alerte .box2 .message .message_content{
    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: center;
}
.alerte .box2 .message .message_btn button{
  width: 140px; height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #105e62;
    padding: 8px auto;
    margin-top: 16px; border-radius: 4px;
}
  .alerte .box2 .message .message_btn_Err button{
    width: 140px; height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #E8505B;
    padding: 8px auto;
    margin-top: 16px; border-radius: 4px;
}

.successtoastclass{
   
        --color:#ffffff;
        --border-radius:3px;
        --background:#46df46;
        --button-color:#ffffff;
    
}
.failedtoastclass{
    
        --color:#ffffff;
        --border-radius:3px;
        --background:#d62d2d;
        --button-color:#ffffff;
    
}